__pycache__
*/__pycache__/*

# Node modules
/node_modules
*/node_modules

# Editor directories
.vscode/*

# Local env files
.env
*/.env

# MacOS
.DS_Store
*/.DS_Store

# Virtual environments
*/.venv/*
